.header {
}
.header__upper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: max-content;
  padding: 8px 6px;
}
.header__location {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  color: #000;
  margin-right: 175px;
  svg {
    display: block;
    width: 15px;
    margin-right: 7px;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
  margin-right: 154px;
}
.header__phone {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #000;
  margin-right: 50px;
  a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
}
.header__email {
  text-transform: lowercase;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.header__personal {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
}
.personal__cart {
  margin-right: 57px;
}
.personal__profile {
  display: flex;
  align-items: center;
  svg {
    display: block;
    width: 20px;
    height: auto;
    margin-right: 8px;
  }
}
.header__main {
  display: flex;
  align-items: center;
  padding: 10px 0 27px;
  margin: 0 auto;
  width: max-content;
}
.header__logo {
  width: 196px;
  margin-right: 137px;
  img {
    display: block;
    width: 100%;
  }
}
.header__nav.nav {
  display: flex;
  align-items: baseline;
  svg {
    width: 20px;
    display: block;
    margin-left: 25px;
  }
}
.nav__wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  width: 736px;
  justify-content: space-between;
}
.nav__item {
  list-style: none;
}
.nav__link {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  display: block;
}
