* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

body {
    padding: 0 15px;
    width: 100vw;
    max-width: 1310px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit
}

p {
    margin-bottom: 0px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.fl {
    display: flex;

    &-sb {
        justify-content: space-between;
    }

    &-aic {
        align-items: center;
    }
}

.container {
    margin: 0 90px;
}

.common-title {
    text-transform: uppercase;
    color: #434D1D;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}