* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #000;
}

body {
  padding: 0 15px;
  width: 100vw;
  max-width: 1310px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.fl {
  display: flex;
}
.fl-sb {
  justify-content: space-between;
}
.fl-aic {
  align-items: center;
}

.container {
  margin: 0 90px;
}

.banner__wrapper {
  background-image: url("../assets/imgs/slide.png");
  width: 100%;
  min-height: 500px;
  padding: 170px 85px 83px 85px;
  font-weight: 700;
  font-size: 64px;
  text-align: right;
  line-height: 57.6px;
}
.banner__cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: #434D1D;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 40px;
  min-height: 60px;
  min-width: 222px;
}

.services {
  margin-top: 40px;
}
.services h2 {
  margin-bottom: 30px;
  margin-top: 0;
}
.services__card {
  position: relative;
  max-width: 250px;
}
.services__link {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
  left: 23px;
  top: 20px;
}

.popular {
  margin-top: 45px;
}
.popular h2 {
  margin-bottom: 35px;
  margin-top: 0;
}

.popular-items {
  display: flex;
  padding: 30px 39px 30px 34px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D0D0D0;
}

.popular .container .popular-items:nth-child(2) {
  border-top: 1px solid #D0D0D0;
}

.item__id {
  margin-right: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #717171;
}

.item_name {
  width: 490px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #434D1D;
}

.item__price {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-right: 53px;
  margin-left: auto;
}

.research {
  padding: 47px 90px;
  background: url(../assets/imgs/rbg.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.research__link {
  color: #434D1D;
  font-size: 14px;
  line-height: 16px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 2px;
}
.research__input {
  font-style: italic;
  padding-left: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 6px;
  margin-right: 20px;
  width: 250px;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.research__input::-webkit-input-placeholder {
  color: #fff;
}
.research__input::-moz-placeholder {
  color: #fff;
}
.research__input:-moz-placeholder {
  color: #fff;
}
.research__input:-ms-input-placeholder {
  color: #fff;
}

.research__text {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.research__text h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #fff;
}

.research__cta {
  padding: 22px 29px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #434D1D;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.research__cta:hover {
  background: #434D1D;
  color: #fff;
}

.news {
  margin-top: 40px;
  margin-bottom: 63px;
}

.news__header.fl.fl-sb {
  margin-bottom: 25px;
  align-items: center;
}

.news__switch {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.news__switch a {
  text-transform: uppercase;
  color: rgba(67, 77, 29, 0.4);
  cursor: pointer;
}
.news__switch a.btn-active {
  color: #000;
}

.news__link {
  font-size: 16px;
  line-height: 19px;
  color: #434D1D;
  text-decoration: underline;
}

.news__body {
  display: flex;
  margin: 0 -12px;
}

.news__post {
  position: relative;
  width: 33.3333%;
  display: block;
  padding: 0 12px;
}
.news__post p {
  margin: 0;
  position: absolute;
  left: 23px;
  right: 17px;
  bottom: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news__post h3 {
  margin: 0;
  position: absolute;
  left: 23px;
  right: 17px;
  bottom: 63px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.footer {
  padding: 41px 0 39px;
  border-top: 1px solid #DBDBDB;
}
.footer__top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.footer__about {
  font-size: 18px;
  line-height: 21px;
  margin-right: 122px;
}
.footer__nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 690px;
}
.footer__nav li {
  list-style: none;
}
.footer__nav a {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.footer__address {
  font-size: 14px;
  line-height: 16px;
}
.footer__phone {
  font-size: 24px;
  line-height: 28px;
}

.analyzes__chose-left {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.analyzes__chose-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.analyzes__per {
  margin: 0 20px;
}
.analyzes__chose.active {
  color: #434D1D;
  text-decoration: underline;
}
.analyzes__org {
  color: #434D1D;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding: 15px 37px;
  background: #fff;
  border: 1px solid #434D1D;
  box-sizing: border-box;
  border-radius: 2px;
}
.analyzes__search-wrapper {
  display: flex;
  align-items: center;
}
.analyzes__search {
  width: 100%;
  height: 40px;
  border-radius: 2px 0 0 2px;
  border: 1px solid #434D1D;
}
.analyzes__categories {
  font-size: 14px;
  line-height: 16px;
  color: #434D1D;
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #434D1D;
}
.analyzes__g {
  border-radius: 0 2px 2px 0;
  background: #434D1D;
  height: 40px;
  width: 60px;
}
.analyzes__item-wrapper {
  margin-top: 35px;
  margin-bottom: 40px;
}
.analyzes__item {
  display: flex;
  align-items: center;
  padding: 24px 40px 24px 30px;
  color: #434D1D;
  border-bottom: 1px solid #D0D0D0;
}
.analyzes__article {
  width: 90px;
  color: #717171;
  font-size: 12px;
  line-height: 14px;
}
.analyzes__name {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-weight: 500;
  width: 490px;
  margin-right: 161px;
}
.analyzes__period {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  width: 83px;
  margin-right: 48px;
}
.analyzes__price {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.analyzes__add {
  margin-left: auto;
}
.analyzes__head {
  border: none;
  padding-top: 0;
  padding-bottom: 5px;
}
.analyzes__head > * {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #717171;
  text-decoration: none;
}
.analyzes__load {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding: 22px 40px;
  background: #434D1D;
  border-radius: 2px;
  margin-top: 39px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.analyzes__item-wrapper .analyzes__item:nth-child(2) {
  border-top: 1px solid #434D1D;
}

.header__upper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: max-content;
  padding: 8px 6px;
}

.header__location {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  color: #000;
  margin-right: 175px;
}
.header__location svg {
  display: block;
  width: 15px;
  margin-right: 7px;
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-right: 154px;
}

.header__phone {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #000;
  margin-right: 50px;
}
.header__phone a {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.header__email {
  text-transform: lowercase;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.header__personal {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
}

.personal__cart {
  margin-right: 57px;
}

.personal__profile {
  display: flex;
  align-items: center;
}
.personal__profile svg {
  display: block;
  width: 20px;
  height: auto;
  margin-right: 8px;
}

.header__main {
  display: flex;
  align-items: center;
  padding: 10px 0 27px;
  margin: 0 auto;
  width: max-content;
}

.header__logo {
  width: 196px;
  margin-right: 137px;
}
.header__logo img {
  display: block;
  width: 100%;
}

.header__nav.nav {
  display: flex;
  align-items: baseline;
}
.header__nav.nav svg {
  width: 20px;
  display: block;
  margin-left: 25px;
}

.nav__wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  width: 736px;
  justify-content: space-between;
}

.nav__item {
  list-style: none;
}

.nav__link {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  display: block;
}

/*# sourceMappingURL=style.css.map */
